*.pyc
*.nfs*
*.egg-info
*.csv
*.pyd
*.log
docs/html/*
docs/pdf/*
docs/epub/*
dist/*
wheelhouse/*
*.doctree
*.envrc
env/*
.tox/*
*/PKG-INFO
*.so
.venv/*
\.venv/
.vagrant/*
.pytest_cache/*
reports/*-py*
.coverage
reports/*
*.c
.idea/*
notebooks/.ipynb_checkpoints/*
test-reports/*
Pipfile
./build/*

lib/*
wheelhouse/*
frozen_requirements.txt
.vscode